body {
    margin:0;
  }
  
  .navbar {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    position:fixed;
    background-color:rgb(157, 189, 216);
    width:100%;
    height:2.5rem;
  }
  
  .body {
    position: relative;
    min-height: 100vh;
  }
  
  .footer {
    text-align: center;
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:rgb(105, 209, 166);
    width:100%;
    height: 2.5rem; 
  }